
Hello <%= @name %>
<br>
<form action="try" method="get">
  <label>Please enter a number between 1 and 50:</label>
  <br>
  <input type="text" name="guess"/>
  <input type="submit"/>
</form>
<!-- Your guess is: <%= params[:guess] %>
<br>
<%= @result_outcome %>
<br>
Number of Tries: <%= @num_tries %> -->
